<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div class="row container">

    <div class="twelve columns">

      <!-- Header -->
      <%= render '/refinery/header' %>
      <!-- End Header -->



     <div class="row">

       <!-- Sidebar -->
       <div class="two columns">
        <%= image_tag "logo_face.png", :id => "logo" %>
        <%= render(:partial => "/refinery/menu", :locals => {
                      :dom_id => 'menu',
                      :css => 'nav-bar vertical'
        }) %>
       </div>
       <!-- End Sidebar -->

       <!-- Information body -->
       <div id="information_body" class="ten columns">

         <%= yield %>

     </div>

    </div>
      <!--
        Refinery specific stuff.
        Make it fit.

      <header id="header">
        <%= render '/refinery/header' -%>
      </header>
      <section id="page">
        <%= yield %>
      </section>
      <footer>
        <%= render '/refinery/footer' -%>
      </footer>
    </div>
    !-->
  </div>
    <%= render '/refinery/javascripts' %>
  </body>
</html>
