<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div class="row container">

    <div class="twelve columns">

      <!-- Header -->
      <div class="row">
        <div class="seven columns centered text-centered">
          <h3><%= Refinery::Core.site_name %></h3>
        </div>
      </div>
      <!-- End Header -->



     <div class="row">

       <!-- Sidebar -->
       <div class="two columns">
        <%= image_tag "logo_face.png", :id => "logo" %>
        <ul class="nav-bar vertical">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="images.html">Images</a></li>
          <li class="has-flyout">
            <a href="interns.html">Interns</a>
            <a href="#" class="flyout-toggle"><span> </span></a>
            <ul class="flyout">
              <li><a href="intern_profiles.html">Armuchee</a></li>
              <li><a href="intern_profiles.html">Pepperell</a></li>
              <li><a href="intern_profiles.html">Model</a></li>
              <li><a href="intern_profiles.html">Coosa</a></li>
            </ul>
          </li>
          <li><a href="about.html">About</a></li>
        </ul>
       </div>
       <!-- End Sidebar -->

       <!-- Information body -->
       <div id="information_body" class="ten columns">

         <%= yield %>

     </div>

    </div>
      <!--
        Refinery specific stuff.
        Make it fit.

      <header id="header">
        <%= render '/refinery/header' -%>
      </header>
      <section id="page">
        <%= yield %>
      </section>
      <footer>
        <%= render '/refinery/footer' -%>
      </footer>
    </div>
    !-->
  </div>
    <%= render '/refinery/javascripts' %>
  </body>
</html>
